---
layout: archive
permalink: /categories/
title: "Posts by Category"
author_profile: true
---

{% include base_path %}
{% include group-by-array collection=site.posts field="categories" %}

{% for category in group_names %}
{% assign posts = group_items[forloop.index0] %}
<h2 id="{{ category | slugify }}" class="archive__subtitle">{{ category }}</h2>
<div class="container">
  <div class="row mb-1">
    {% for post in posts %}
    <div class="col-12 col-md-6 col-lg-4 col-xl-4 mb-1 mx-0 px-1">
      {% include archive-single-single.html %}
    </div>
    {% endfor %}
  </div>
</div>
{% endfor %}