---
layout: archive
permalink: /tags/
title: "Posts by Tags"
author_profile: true
---

{% include base_path %}

{% assign alldocs = site.documents %}
{% assign grouptag =  alldocs | map: 'tags' | join: ','  | split: ','  | group_by: tag %}
{% assign grouptag_sorted = grouptag | sort: 'size' | reverse  %}

<!--give the list of tags-->
<p><strong><i class="fa fa-fw fa-tags" aria-hidden="true"></i>
  {{ site.data.ui-text[site.locale].tags_label | default: "Tags:" }} </strong>
{% for tag in grouptag_sorted %}
<a href="#{{ tag.name | slugify }}" rel="tag">{{ tag.name }}
  ({{tag.size}})</a>{% unless forloop.last %}, {% endunless %}
{% endfor %}
</p>

<!-- give the list of pages for each tag-->
{% for tag in grouptag_sorted %}
<h2 id="{{ tag.name | slugify }}">{{ tag.name }}</h2>
<div class="container">
  <div class="row mb-1">
    {% for document in alldocs %}
    {% if document.tags contains tag.name %}
    {% assign post = document %}
    <div class="col-12 col-md-6 col-lg-4 col-xl-4 mb-1 mx-0 px-1">
      {% include archive-single-card.html %}
    </div>
    {% endif %}
    {% endfor %}
  </div>
</div>
{% endfor %}
