---
layout: archive
permalink: /year-archive/
title: "My writing"
author_profile: true
redirect_from:
- /wordpress/blog-posts/
- /blog/
---

{% include base_path %}
<!-- solution based on https://stackoverflow.com/a/20777475/2514568 -->
{% for post in site.posts %}
  {% assign currentdate = post.date | date: "%Y" %}
  {% if currentdate != date %}
    {% unless forloop.first %}</div></div>{% endunless %}
    <h2 id="y{{post.date | date: "%Y"}}">{{ currentdate }}</h2>
    <div class="container">
    <div class="row mb-1">  
    {% assign date = currentdate %}
  {% endif %}
  <div class="col-12 col-md-6 col-lg-4 col-xl-4 mb-1 mx-0 px-1">
    {% include archive-single-card.html %}
  </div>
  {% if forloop.last %}</div></div>{% endif %}
{% endfor %}