{% include base_path %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav class="navbar navbar-expand-md" id="site-nav">
        <a class="navbar-brand" href="{{ domain }}/">{{ site.title }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
          data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
              {% for link in site.data.navigation.main %}
              {% if link.url contains 'http' %}
              {% assign domain = '' %}
              {% else %}
              {% assign domain = base_path %}
              {% endif %}
              <li class="nav-item">
                <a class="nav-link"
                  href="{{ domain }}{{ link.url }}">{{ link.title }}</a>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>